<div class="container">
  <!--div class="alert alert-danger" *ngIf="mode==0">
    <strong>You are not authorized to add new Task</strong>
  </div -->
  <div class="row col-md-6">
    <div class="panel panel-default" *ngIf="mode==1">
      <div class="panel panel-heading">New Task</div>
      <div class="panel panel-body">
        <form #f="ngForm" (ngSubmit)="onSaveTask(f.value)">
          <div class="form-group">
            <label class="control-label">Task Name : </label>
            <input class="form-control" type="text" name="taskName" ngModel="" required/>
          </div>
          <button class="btn btn-danger" type="submit" [disabled]="!f.valid">Save</button>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel panel-heading"> New Task Added</div>
      <div class="panel panel-body">
        <div class="form-group container">
          <div>
            <label>ID : {{task.id}}</label>
          </div>
          <div>
            <label>Task Name : {{task.taskName}}</label>
          </div>
        </div>
        <button class="btn btn-danger" (click)="mode=1">New Task</button>
      </div>
    </div>
  </div>
  </div>
</div>

